In [1]:
import pandas as pd
from sklearn import tree

In [3]:
df=pd.read_csv('male female.csv')

In [4]:
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [5]:
x=df.iloc[:,:-1]

In [6]:
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [15]:
y=df.iloc[:,3]

In [14]:
y

   height
0     181
1     177
2     160
3     154
4     166
5     190
6     175
7     171
8     185
9     169

In [16]:
classify=tree.DecisionTreeClassifier()

In [17]:
classify=classify.fit(x,y)

In [18]:
prediction_=classify.predict([[190,70,43]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [19]:
prediction_

array(['female'], dtype=object)

In [20]:
prediction_=classify.predict([[169,71,42]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [22]:
prediction_

array(['male'], dtype=object)